{% extends 'main.html'%} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .bookmark-container {
    margin: 20px 10px;
  }

  .bookmark {
    border: 1px solid black;
    padding: 5px;
  }

  .link a {
    margin-right: 10px;
  }
</style>

<div class="home-container">
  <div class="sidebar">
    <h3>Bookmark Categories</h3>
    <hr />
    <div>
      <a href="{% url 'home'%}?q={{category.name}}">All</a>
    </div>

    {% for category in categories %}

    <div>
      <a href="{% url 'home'%}?q={{category.name}}">{{category.name}} </a>
    </div>
    {% endfor %}
  </div>

  <div class="bookmark-container">
    <a href="{% url 'create-bookmark' %}"> Add Bookmark</a>
    <p>{{bookmark_count}} total bookmarks</p>
    {% for bookmark in bookmarks %}
    <div class="bookmark">
      <a href="{% url 'update-bookmark' bookmark.id%}">Edit</a>
      <a href="{% url 'delete-bookmark' bookmark.id%}">Delete</a>
      <h5>
        <span class="link">
          <a href="{% url 'bookmark' bookmark.id%}">{{bookmark.name}} </a>
          <a href="{{bookmark.url}}" target="_blank">Visit</a>
        </span>
        <p>Category: {{ bookmark.category_name }}</p>
      </h5>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
